[submodule "extern/array"]
	path = extern/array
	url = https://github.com/Jacob-C-Smith/array
[submodule "extern/dict"]
	path = extern/dict
	url = https://github.com/Jacob-C-Smith/dict
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/Jacob-C-Smith/json
[submodule "extern/queue"]
	path = extern/queue
	url = https://github.com/Jacob-C-Smith/queue
[submodule "extern/stack"]
	path = extern/stack
	url = https://github.com/Jacob-C-Smith/stack
[submodule "extern/g10"]
	path = extern/g10
	url = https://github.com/Jacob-C-Smith/g10
[submodule "extern/gport"]
	path = extern/gport
	url = https://github.com/Jacob-C-Smith/gport
[submodule "extern/gschema"]
	path = extern/gschema
	url = https://github.com/Jacob-C-Smith/gschema
[submodule "extern/ui"]
	path = extern/ui
	url = https://github.com/Jacob-C-Smith/ui
[submodule "extern/shader-compiler"]
	path = extern/shader-compiler
	url = https://github.com/Jacob-C-Smith/shader-compiler
[submodule "extern/input-tool"]
	path = extern/input-tool
	url = https://github.com/Jacob-C-Smith/input-tool
[submodule "extern/ai-tool"]
	path = extern/ai-tool
	url = https://github.com/Jacob-C-Smith/ai-tool
